<h3>
  Hello <%= @admin.full_name %>,
</h3>

<p>
  A new report has been submitted by <%= @report.user.try(:full_name) %> from <%= @report.user.try(:agency).try(:name) %>.
</p>

<p>
  You can view the report here: <%= link_to report_url(@report), report_url(@report) %>
</p>

<p>
  Many thanks,<br>
  GRASP
</p>

