<p> Hello <%= @admin.full_name %>, </p>

<p>
A mutiple records .csv file has been submitted by <%= @user.full_name %>.
</p>

<p> You can download the file here: <%= link_to @file, @file %> </p>

<p> Many thanks, </p>

<p> GRASP </p>
