<h3>
  Hello <%= @user.full_name %>,
</h3>

<p>
  The csv file that you recently requested has been succesfully generated and can be downloaded <%= link_to "here", File.join(landing_page_url, "csv_exports", @file.basename) %>
</p>

<p>
  Many thanks,
  GRASP
</p>

