<h3>
  Hello <%= @user.full_name %>,
</h3>

<p>
  Your <%= link_to "report", report_summary_url(@report) %> has been accepted.
</p>

<% if @validation.comments_for_provider.present? %>
  <p><strong>
    Remarks from Validator:
  </strong></p>

  <p>
    <%= @validation.comments_for_provider %>
  </p>
<% end %>

<p>
  Many thanks,<br>
  GRASP
</p>
