<h3>
  Hello <%= @validator.full_name %>,
</h3>

<p>
  A new <%= link_to "report", report_summary_url(@report) %> matching your expertise has been submitted for validation.
</p>

<p>
  You can view all reports awaiting validation <%= link_to "here", validate_report_url(@report) %>.
</p>

<p>
  Many thanks,<br>
  GRASP
</p>
