<h3>
  Hello <%= @user.full_name %>,
</h3>

<p>
  Your report <%= link_to report_url(@report), report_url(@report) %> has been returned.
</p>

<% if @validation.comments_for_provider.present? %>
  <p><strong>
    Remarks from Validator:
  </strong></p>

  <p>
    <%= @validation.comments_for_provider %>
  </p>
<% end %>

<p>
  Please review your report to update it as necessary. You will need to re-submit your report after making changes.
</p>

<p>
  Many thanks,<br>
  GRASP
</p>
