<% content_for :outside_main_container do %>
  <div class="hero">
    <div class="hero__inner">
      <h1>GRASP great apes database</h1>
      <p class="hero__body">
        The GRASP great apes database is the home for credible and up-to-date
        information relating to the illegal trade and displacement of great apes.
      </p>
    </div>
  </div>
<% end %>

<div class="section row">
  <div class="section__body six columns">
    <h3 class="section__title">Great apes under threat</h3>
    <p>
      All great ape species have experienced considerable declines in
      population size and range over the past few decades. The IUCN Red List of
      Threatened Species lists all great apes as either Endangered or
      Critically Endangered and almost all show decreasing population trends.
    </p>
  </div>
  <div class="section__cover section__cover--1 six columns"></div>
</div>

<div class="section section--longer row">
  <div class="hide-mobile section__cover section__cover--2 six columns"></div>
  <div class="section__body six columns">
    <h3 class="section__title">The data challenge</h3>
    <p>
      The quantity and quality of information available on the great apes, the
      threats they face and opportunities for conservation have improved
      considerably over the last decade.
    </p>
    <p>
      However limited resources can mean difficulty in provided regular status
      updates so as to identify threats before they cause great damage.
    </p>
    <p>
      The <b>GRASP great apes database</b> provides a way for accurate data on great apes to
      be collected quickly, easily and with more frequency
    </p>
  </div>
  <div class="only-mobile section__cover section__cover--2 six columns"></div>
</div>
