<% content_for :outside_main_container do %>
  <div class="hero credits__container">
    <div class="hero__inner">
      <h1>Apes Seizure Database</h1>
      <p class="hero__body">
        The Apes Seizure Database is the home of credible and current information relating to great
        apes taken from unlawful situations and the illegal trade in great ape parts and carcasses.
      </p>
    </div>
    <p class="credits credits--right">
      <a class="credits__link" href="https://flic.kr/p/jnjMhx">Chimpanzee at Kibale Forest by Xin Li/CC BY-NC 2.0</a>
    </p>
  </div>
<% end %>

<div class="section row">
  <div class="section__body six columns">
    <h3 class="section__title">Great apes under threat</h3>
    <p>
      Chimpanzees, gorillas, orangutans, and bonobos are being pushed to the brink of extinction,
      and all six species of great apes are listed by IUCN as Endangered or Critically Endangered.
      Threats such as deforestation and disease have been well documented, but the illicit traffic
      in great apes and great ape body parts has not been recognized as a serious threat to the
      survival of these species.
    </p>
  </div>
  <div class="section__cover credits__container section__cover--1 six columns">
    <p class="credits credits--right">
      <a class="credits__link" href="https://flic.kr/p/pxAhzr">Mountain Gorilla, Bwindi, Uganda by Rod Waddington/CC BY-SA 2.0</a>
    </p>
  </div>
</div>

<div class="section section--longer row">
  <div class="hide-mobile credits__container section__cover section__cover--2 six columns">
    <p class="credits">
      <a class="credits__link" href="https://flic.kr/p/8yeoq">Orangutan by Kevin Schofield/CC BY-NC 2.0</a>
    </p>
  </div>
  <div class="section__body six columns">
    <h3 class="section__title">The data challenge</h3>
    <p>
      As so much of the illegal trade in great apes does not meet the parameters of existing databases,
      it becomes ever more essential to best serve the protection of these charismatic species, and find a
      way of quantifying this very real threat to their survival. GRASP, as a shared partnership between
      many agencies and Member States, serves as the perfect platform and implementer for this task.
    </p>
  </div>
  <div class="only-mobile credits__container section__cover section__cover--2 six columns">
    <p class="credits">
      <a class="u-no-decoration" href="https://flic.kr/p/8yeoq">Orangutan by Kevin Schofield/CC BY-NC 2.0</a>
    </p>
  </div>
</div>
