// Use name that color to come up with unique, memorable color names
//http://chir.ag/projects/name-that-color

// Use BEM for naming convention
// B - Block (button, page-header etc)
// E - Element/the CSS property (bg-color, border-color, etc)
// M - Modifiers (state or variation like secondary or hover, multiple can be chained)

// Color Palette

$timber-green:    #1c2e36;
$limed-spruce:    #3e4e54;
$nevada:          #606d72;
$oslo-grey:       #838d91;
$grey-chateau:    #a5acaf;
$silver-sand:     #c7cbcd;
$porcelain:       #e8eaeb;

$steel-blue:      #4578bc;
$polo-blue:       #99b5da;
$atomic:          #3f4e54;
$mariner:         #396194;
$periwinkle-grey: #d0ddee;
$chambray:        #376096;
$danube:          #6193c9;

$guardsman-red:   #bf0404;
$green-leaf:      #417505;
$white:           #ffffff;

// Config

$main__color: $timber-green;
$grey:        $silver-sand;
$grey--dark:  $limed-spruce;
$blue:        $steel-blue;

// Fonts

$font__color: $timber-green;
$font__color--headline: $nevada;
$link__color: $steel-blue;

// Buttons

// - Primary
$button__bg-color:                        $chambray;
$button__border-color:                    $button__bg-color;

$button__bg-color--hover:                 $danube;

// - Secondary
$button__bg-color--secondary:             $white;
$button__border-color--secondary:         $danube;
$button__color--secondary:                $danube;

$button__bg-color--secondary--hover:      $danube;
$button__color--secondary--hover:         $white;
$button__border-color--secondary--hover:  $danube;

// Forms

$input__border-color: $silver-sand;
$select-2-tag__bg-color: $periwinkle-grey;
$select-2-tag__border-color: $periwinkle-grey;
$select-2-tag__color: $steel-blue;

// Tables

$table-head__bottom-border: $silver-sand;
$table-row__bg-color: lighten($periwinkle-grey, 5%);
$table-row__border-color: $silver-sand;

// Alerts

$alert-default__bg-color:   $silver-sand;
$alert-default__border-color: $oslo-grey;

$alert-notice__bg-color:    lighten($periwinkle-grey, 5%);
$alert-notice__border-color: $danube;
$alert-notice-title__color: $danube;

$alert-error__bg-color: lighten($guardsman-red, 58%);
$alert-error__border-color: $guardsman-red;
$alert-error-title__color: $guardsman-red;

$alert-success__bg-color: lighten($green-leaf, 68%);
$alert-success__border-color: $green-leaf;
$alert-success-title__color: $green-leaf;

// Navigation controls

$navigation-controls__bg-color: lighten($periwinkle-grey, 10%);
$navigation-controls-element__bg-color: $periwinkle-grey;
