<p class="tooltip__paragraph">
  <img class="tooltip__image" src="<%= image("tooltips/gorilla-western-lowland.jpg") %>" alt=""/>
  <b>Western lowland gorillas</b> can be distinguished from other gorilla
  subspecies by their slightly smaller size, their brown-grey coats and auburn
  chests. They also have wider skulls with more pronounced brow ridges and
  smaller ears.
</p>
<p class="tooltip__paragraph">
  <img class="tooltip__image" src="<%= image("tooltips/gorilla-cross-river.jpg") %>" alt=""/>
  <b>Cross River gorillas</b> are very similar in appearance to the more numerous
  western lowland gorilla, but subtle differences can be found in the skull and
  tooth dimensions.
</p>
<p class="tooltip__paragraph">
  <img class="tooltip__image" src="<%= image("tooltips/gorilla-mountain.jpg") %>" alt=""/>
  <b>Mountain gorillas</b> are the second-largest gorilla subspecies. They have
  thicker fur, and more of it, compared to other great apes.
</p>
<p class="tooltip__paragraph">
  <img class="tooltip__image" src="<%= image("tooltips/gorilla-grauers.jpg") %>" alt=""/>
  <b>Eastern lowland gorillas</b> (also known as Grauer's gorillas) are the
  largest of the four gorilla subspecies. It is distinguished from other
  gorillas by its stocky body, large hands and short muzzle.
</p>
