@include b(breadcrumbs) {
  margin-bottom: 2rem;
  @media screen and (max-width: $break__phone) {
    display: none;
  }

  @include e(divider) {
    vertical-align: sub;
    font-size: 2em;
    margin: 0 1rem;
  }
}
