.form__group {
  clear: both;
  overflow: hidden;
  padding: 1px;

  label {
    width: 25%;
    float: left;
    @media screen and (max-width: $break__tablet) {
      width: 100%;
      float: none;
    }
  }

  .form__field {
    width: 75%;
    float: right;
    @media screen and (max-width: $break__tablet) {
      width: 100%;
      float: none;
    }
  }

  input[type=text], input[type=email], input[type=url], input[type=password],
  textarea, .select2 {
    width: 100%;
    border: 1px solid $input__border-color;
    border-radius: none;

    &:focus {
      border-width: 2px;
    }
  }
}

.form__submit {
  position: relative;
  left: 25%;
  @media screen and (max-width: $break__tablet) {
    position: relative;
    left: 0;
    width: 100%;
  }
}
