$header__height: 7rem;

@include b(header) {
  width: 100%;
  box-sizing: border-box;
  background-color: $blue;

  @include e(inner) {
    width: $main__width;
    margin: auto;
    color: $white;
    line-height: $header__height;
    overflow: hidden;
    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 1rem;
        a {
          color: $white;
        }
      }
    }
  }

  @include e(mobile) {
    @media screen and (min-width: $break__phone) {
      display: none;
    }
    .header__inner {
      .header__main-nav {
        display: none;
      }
    }
  }


  @include e(desktop) {
    @media screen and (max-width: $break__phone) {
      display: none;
    }
  }

  @include e(right-side) {
    float: right;
    line-height: $header__height;

    @include m(lower) {
      line-height: 3.6rem;
      font-size: 1.25rem;
    }

    @media screen and (max-width: $break__phone) {
      ul {
        li {
          display: block;
          line-height: 5rem;
          &.divider {
            width: 100%;
            border-bottom: 2px solid $blue;
            margin: 1em 0em;
          }
        }
      }
    }
  }

  @include e(left-side) {
    line-height: $header__height;

    @media screen and (max-width: $break__phone) {
      /*display: none;*/
      ul {
        li {
          display: block;
          line-height: 5rem;
          &.divider {
            width: 100%;
            border-bottom: 2px solid $white;
            margin: 1em 0em;
          }
        }
      }
    }
  }

  @include e(main-logo) {
    float: left;
    img {
      width: 100px;
      vertical-align: middle;
    }
  }

  @include e(main-nav) {
    clear: both;
  }

  @include e(lower) {
    @media screen and (max-width: $break__phone) {
      display:none;
    }

    background-color: $chambray;
    .header__inner {
      .header__right-side {
        @media screen and (max-width: $break__phone) {
          float:none;
        }
      }
    }
  }

  @include e(menu-button) {
    height: 3rem;
    box-sizing: border-box;
    padding: 0 1rem;
    border: solid 2px $white;
    border-radius: 12px;
    margin-top: 1px;

    color: inherit;
    font-size: 1.3rem;
    line-height: 2.6rem;
    text-transform: none;

    &:hover {
      color: $blue;
      background-color: $white;
      border: solid 2px $white;
    }

    @media screen and (min-width: $break__phone) {
      display: none;
    }
  }

  @include e(sign-in) {
    text-decoration: initial;
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

@include b(divider) {
  border-right: solid 1px $white;
  height: 1.5rem;
  vertical-align: middle;

  @include m(no-border) {
    border-right: initial;
  }
}
