$header__height: 7rem;

@include b(header) {
  width: 100%;
  box-sizing: border-box;
  background-color: $blue;

  @include e(inner) {
    width: $main__width;
    margin: auto;
    color: $white;
    line-height: $header__height;
    overflow: hidden;
    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 1rem;
        a {
          color: $white;
        }
      }
    }
  }

  @include e(right-side) {
    float: right;
    line-height: $header__height;

    @media screen and (max-width: $break__phone) {
      ul {
        li {
          display: block;
          line-height: 5rem;
        }
      }
    }
  }

  @include e(left-side) {
    float:left;
    line-height: $header__height;

    @media screen and (max-width: $break__phone) {
      /*display: none;*/
      ul {
        li {
          display: block;
          line-height: 5rem;
        }
      }
    }
  }

  @include e(main-logo) {
    img {
      width: 100px;
      vertical-align: middle;
      @media screen and (max-width: $break__phone) {
        padding-top: 1em;
        vertical-align: none;
      }
    }
  }

  @include e(lower) {
    background-color: $chambray;
    .header__inner {
      .header__right-side {
        @media screen and (max-width: $break__phone) {
          float:none;
        }
      }
    }
    @media screen and (max-width: $break__phone) {
      /*display: none;*/
    }
    @media screen and (min-width: $break__phone) {
      display: visible;
    }
  }

  @include e(menu-button) {
    height: 3rem;
    box-sizing: border-box;
    padding: 0 1rem;
    border: solid 2px $white;
    border-radius: 12px;
    margin-top: 1px;

    color: inherit;
    font-size: 1.3rem;
    line-height: 2.6rem;
    text-transform: none;

    &:hover {
      color: $blue;
      background-color: $white;
      border: solid 2px $white;
    }

    @media screen and (min-width: $break__phone) {
      display: none;
    }
  }
}
