@include b(navigation) {
  width: 100%;
  border-bottom: solid 2px $geyser;
  margin-bottom: 3rem;

  @include e(inner) {
    width: $main__width;
    margin: auto;
    padding: 3rem;
  }

  @include e(buttons) {
    @media screen and (max-width: $break__phone) {
      float: none;
      margin-top: 1em;
      width: 100%;
      a { width: 100%; }
    }
  }
}
