@include b(page-controls) {
  overflow: hidden;
  margin-bottom: 1.6rem;

  @media screen and (min-width: $break__phone) {
    float: left;
  }

  @include e(prev) {
    float: right;
    margin-right: 2rem;
    height: initial;
    padding: initial;
    border: initial;
    text-transform: initial;
    text-decoration: underline;
    color: $link__color;

    @media screen and (max-width: $break__phone) {
      float: left;
    }
  }

  @include e(next) {
    float: right;
  }
}
