@include b(pagination) {
  margin-left: 2rem;
  float: right;
  line-height: 36px;

  @include e(button) {
    display: inline-block;
    border-radius: 32px;
    width: 42px;
    height: 36px;
    text-align: center;
    font-size: 31px;
    font-weight: 100;
    line-height: 34px;
    border: solid 2px $steel-blue;
  }
}
