// Select 2 Stylings to match Skeleton

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $select-2-tag__bg-color;
  border: 1px solid $select-2-tag__border-color;
  padding: 5px 10px;
  color: $select-2-tag__color;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: $select-2-tag__color;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
  border: none;
  border-radius: none;
}

.form__group .select2 {
  margin-bottom: 1.5rem;
}
