@import 'variables/colors';

@mixin responsive-table($labels...) {
  tr:nth-child(even) {
    background-color: $table-row__bg-color;
  }

  @media screen and (max-width: $break__tablet) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid $table-row__border-color; }
    th:first-child, td:first-child { padding: none; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      min-height: 24px;
    }

    td:before {
      position: absolute;
      top: 12px;
      left: 15px;
      width: 45%;
      padding-right: 10px;
      padding-bottom: 12px;
      white-space: nowrap;
      font-weight: 600;
    }

    @for $i from 1 through length($labels) {
      td:nth-of-type(#{$i}):before { content: nth($labels, $i); }
    }
  }

  @include e(head) {
    border-bottom: solid 3px $table-head__bottom-border;
  }

  @include e(header) {
    &.is-asc {
      &:after { content: "˅"; }
    }

    &.is-desc {
      &:after { content: "˄"; }
    }
  }
}

@include b(table) {
  @include m(reports) {
    @include responsive-table("ID", "User name", "Agency", "Timestamp", "Date of discovery", "Status of ape(s)", "Confiscation", "Status", "Actions")
  }

  @include m(users) {
    @include responsive-table("First name", "Last name", "Email", "Role", "Actions")
  }

  @include m(agencies) {
    @include responsive-table("Name", "Email", "Website URL", "Actions")
  }
}
