<%= content_for :page_title, "Thank you" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Report Validated", validation_thank_you_path %>
<% end %>

<p>Thanks for taking the time to validate that report, your validation decision has been successfully saved in the system.</p>

<p>If you need to speak further to anybody at GRASP about this report please don't hesitate to contact the relevant focal point. <%= link_to "http://www.un-grasp.org/contact-us/", "http://www.un-grasp.org/contact-us/", target: "_blank" %><p>

<h4>Thank you for your vital help in protecting great apes.</h4>
