<% if ParamsUtils.strip_ordering_params(params).any? %>
  <h3><%= pluralize(@reports.total_count, "Search Result") %></h3>

  <h5>Search parameters</h5>
  <p>
    <% ParamsUtils.strip_to_search_params(params).each do |k,v| %>
      <%= format_search_value_for_display(k, v) %>
    <% end %>
  </p>
<% end %>
