<%= content_for :page_title, "New Report" %>
<%= content_for :breadcrumbs, "New Report" %>

<div id="report-container" data-report-mode="edit"></div>

<script>var questionnaireTemplate = <%= raw(@questionnaire_template) %></script>
