<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <p class="alert__close"><i class="fa fa-close"></i> Close</p>
    <h4 class="alert__title">
      <i class="fa fa-<%= alert_key_to_fa_icon(key) %>"></i> <%= key.titleize %>!
    </h4>
    <p class="alert__body">
      <%= raw(value) %>
    </p>
  </div>
<% end %>
