<footer class="footer">
  <div class="footer__inner row">
    <div class="two columns"><img class="footer__logo" src="<%= image_path("grasp_logo_footer.png") %>" alt=""></div>
    <div class="two columns">
      <div class="footer__item">
        <h5 class="footer__header">
          <i class="fa fa-desktop icon"></i>Website
        </h5>
        <a class="footer__link" href="http://un-grasp.org">www.un-grasp.org</a>
      </div>

      <div class="footer__item">
        <h5 class="footer__header">
          <i class="fa fa-at icon"></i>Email
        </h5>
        <a class="footer__link footer__link--no-underline" href="mailto:info@un-grasp.org">info@un-grasp.org</a>
        <a class="footer__link footer__link--no-underline" href="mailto:grasp@unep.org">grasp@unep.org</a>
      </div>
    </div>
    <div class="eight columns">
      <div class="footer__item">
        <h5 class="footer__header">
          <i class="fa fa-map-marker icon"></i>Address
        </h5>
        <p class="footer__link footer__link--no-underline">
          Great Apes Survival Partnership (GRASP)<br>
          United Nations Environment<br>
          P.O. Box 30552 (00100)<br>
          Nairobi Kenya
        </p>
      </div>

      <div class="footer__item">
        <h5 class="footer__header">
          <i class="fa fa-phone icon"></i>Telephone
        </h5>
        <a href="tel:+254 20 762 6712" class="footer__link footer__link--no-underline">
          +254 20 762 6712
        </a>
      </div>
    </div>
  </div>

  <div class="footer__strip">
    <div class="footer__strip-inner">
      <div>
        <%= link_to 'http://www.unep-wcmc.org/', target: '_blank' do %>
          <img src="https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg" class="footer__logo footer__logo--strip" alt="UNEP-WCMC logo">
        <% end %>
        <span>Powered by UN Environment World Conservation Monitoring Centre.</span>
      </div>
      <div>
        <i class="fa fa-copyright"></i>
        All rights reserved

        <i class="fa fa-copyright"></i>
        2017 Great Apes Survival Partnership
      </div>
    </div>
  </div>
</footer>
