<div class="navigation">
  <div class="navigation__inner">
    <div class="breadcrumbs">
      <%= link_to "Home", reports_path %> <%= yield :breadcrumbs %>
    </div>
    <div class="row">
      <h1 class="page__title pull-left"><%= yield :page_title %></h1>
      <div class="navigation__buttons pull-right"><%= yield :page_buttons %></div>
    </div>

  </div>
</div>

